<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Verify Account</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="/css/main.css" rel="stylesheet" type="text/css">
</head>

<body>
    <header>
        <!-- <p> -->
        <!-- <img class="logo" src="../images/arkihive-logo.svg" /> -->
        <!-- </p> -->
        <p>Verify</p>
    </header>
    <section>
        <form align="center" method="post" action="/verifiedUser">
            <div class="box">
                <h2>
                    <center>Account verification</center>
                </h2>
                <br />
                <h3 class="text-highlight">Yay!!</h3>
                <br />
                <p>Your account has been verified successfully. Please login your account to verify.</p>
                <br />
                <input type="submit" name="submit" value="Ok" />
            </div>
        </form>
    </section>
</body>

</html>